:root {
  font-family: "Trebuchet MS", "Segoe UI", sans-serif;
  color: #ffffff;
  background-color: #050505;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  background: #050505;
}

#app {
  width: 100vw;
  height: 100vh;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}
